body {
  padding-top: 100px;
}
.primary-color {
    color:#6B7280;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0a58ca;
}
.nav .logo{
    width: 56px;
}
.hero .container .main-content .heading{
  color: #3D688F;
}
.hero .boxes .box1,
.hero .boxes .box2,
.hero .boxes .box3 {
   
    background-color:rgba(45, 127, 224, 0.1);
}
.hero .boxes .box1 .content {
  width: 70%;
}
.hero .icon{
    font-size: 50px;
}
.hero .icon2{
    font-size:40px;
}
.hero .button1{
    background-color: rgba(137, 181, 111, 0.5)
}
.defination {
    background-image: url(../images/download\ 1.png);
  position: relative;
    background-size: cover;
  background-position: center;
}
.overlay {
  
  background-color:#ffc10712; 
  width: 100%;
  height: 100%;
}
.defination .content p{
    font-size: 20px;
}
.env-factors .container .content h6 {
    font-size: 25px;
}
.env-factors .container .content ul{
    font-size: 20px;
}
.env-factors .container {
    background-color:rgba(45 , 127, 224, 0.1);
<<<<<<< Updated upstream
=======
}
.lift-section{
    width: 50%;
    padding: 20px;
    margin: 20px;
}
.lift-section img{
    width: 90%;
}
.early-signs {
  padding: 60px 5%;
  text-align: center;
}

.early-signs h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #333;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}


.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.card:hover img {
  transform: scale(1.05);
>>>>>>> Stashed changes
}